.section {
    height: 100vh;

    &__half {
        height: 50vh;
    }

    &__content {
        position: relative;
        z-index: 4;
        padding: 30px 0;
        background-color: #fff;
    }

    &__title {
        font-family: 'Great Vibes', cursive;
        font-size: 72px;
        font-weight: normal;
        margin: 0;
    }
}

.intro {
    position: relative;
    z-index: 4;
    background-image: url("../images/budapest.jpg");
    background-size: cover;
    background-position: center;

    &__title {
        display: table;
        width: 100%;
        height: 100vh;
    }
}

.logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.logo-names {
    fill: #fff;
    width: 80%;
    max-width: 750px;
}

.details {
    &__text {
        text-align: center;
        font-size: 16px;

        @include grid-media-query('desk') {
            font-size: 24px;
        }
    }
}

.gellert {
    position: relative;
    overflow: hidden;
}

.rsvp {
    text-align: left;
}

.background-fixed {
    clip: rect(0,auto,auto,0);
    -webkit-clip-path: inset(0 0 0 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    &__image {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 3;
    }
}